@import url('general-sans.css');

:root{
  --bg: #efe5df;
  --text: #000000;
  --text2: #272021;
  --blue: #ec660b;
  --green: #55C074;
}

.body {
  padding: 128px 128px;
  background-color: var(--bg);
  color: var(--text);
  font-family: 'GeneralSans-Regular', sans-serif;
}

.image {
  margin-bottom: 96px;
}

.h1 {
  margin-bottom: 96px;
  font-family: 'GeneralSans-Medium';
  font-size: 88px;
  letter-spacing: -0.6px;
  line-height: 120%;
  font-weight: 400;
  text-decoration: none;
  color: var(--text);
}

.h1hr{
  margin-bottom: 96px;
  font-family: 'GeneralSans-Medium';
  font-size: 88px;
  letter-spacing: -0.6px;
  line-height: 120%;
  font-weight: 400;
  text-decoration: none;
  color: var(--text);
}

.h1hr:hover{
  color: var(--blue);
}

.bodytext {
  margin-right: 52px;
  margin-bottom: 96px;
  color: var(--text2);
  font-size: 32px;
  line-height: 150%;
}

.bodylink {
  font-family: 'GeneralSans-Medium';
  color: var(--text);
  font-weight: 400;
  text-decoration: none;
}

.bodylink:hover{
  color: var(--blue);
  text-decoration: none;
}

.label {
  margin-bottom: 32px;
  margin-top: 32px;
  font-family: 'GeneralSans-Regular';
  opacity: 0.8;
  color: var(--text);
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 1px;
}

.div-block {
  margin-right: 32px;
  padding-top: 24px;
  padding-bottom: 24px;
  padding-left: 32px;
  border-radius: 8px;
}

.h2 {
  display: inline;
  margin-right: 4px;
  font-size: 88px;
  font-family: 'GeneralSans-Medium';
  line-height: 110%;
  font-weight: 400;
}

.h2:hover{
  color: var(--blue);
}

.casestudyblock {
  display: block;
  margin-bottom: 16px;
  padding: 24px 0px;
  border-radius: 8px;
  color: var(--text);
  text-decoration: none;
}

.image-2 {
  color: var(--text);
}

.div-block-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 8px;
}

.subtext {
  font-size: 20px;
  line-height: 150%;
  font-weight: 400;
  color: var(--text2);
}

.div-block-3 {
  margin-bottom: 96px;
  -webkit-perspective: 1000px;
  perspective: 1000px;
}

.link {
  text-decoration: none;
}

@media screen and (max-width: 991px) {
  .body {
    padding-right: 96px;
    padding-left: 96px;
  }
}

@media screen and (max-width: 767px) {
  .body {
    padding: 64px 32px;
  }

  .image {
    width: 128px;
    margin-bottom: 48px;
  }

  .h1 {
    margin-bottom: 48px;
    font-size: 32px;
  }

  .h1hr {
    margin-bottom: 48px;
    font-size: 32px;
  }

  .bodytext {
    margin-right: 0px;
    margin-bottom: 64px;
  }
}

@media screen and (max-width: 479px) {
  .body {
    padding-right: 16px;
    padding-left: 16px;
  }

  .h1 {
    font-size: 32px;
  }

.h1hr {
    font-size: 32px;
  }

 
  .bodytext {
    margin-bottom: 64px;
    font-size: 18px;
    font-family: 'GeneralSans-Regular', sans-serif;
  }
  
  .h2 {
  display: inline;
  margin-right: 4px;
  font-size: 32px;
  line-height: 110%;
  font-weight: 400;
}

.casestudyblock {
  padding: 12px 0px;
}

  .label {
    margin-bottom: 16px;
    font-size: 16px;
  }

  .subtext {
    font-size: 16px;
  }

  .div-block-3 {
    margin-bottom: 64px;
  }
}

